.GuessBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  outline: none;
}

.AttemptRow {
  display: flex;
  gap: 12px;
}

.LetterCell {
  width: 60px;
  height: 60px;
  border: 4px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  transition: 
    width 0.2s ease, 
    height 0.2s ease, 
    border 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
}

.LetterCell.cell-typed {
  width: 72px;
  height: 72px;
  border: solid darkgray 4.5px;
}

.LetterCell.cell-typed:active {
  transform: scale(1);
}

.cell-empty {
  background: transparent;
  border-color: #ccc;
}

.cell-typed {
  background-color: lightgrey;
}

.cell-correct {
  background-color: limegreen;
  color: whitesmoke;
}

.cell-present {
  background-color: goldenrod;
  color: whitesmoke;
}

.cell-absent {
  background-color: gray;
  color: whitesmoke;
}