.RestartGameButton {
    width: 12.5rem;
    height: 3.75rem;
    font-weight: bolder;
    background-color: lightblue;
    border: 0.188rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
