<div class="TopPageTitle">
  <h1 class="CodleTitleStyling">Codle</h1>
  <h3 class="CodleSubtitleStyling">A software development related version of wordle</h3>
</div>
<div class="TopPageTitle PositionMessage">
  <h3 class="CodleMessageNotice">@((MarkupString)Message)</h3>
</div>
<div class="TopPageTitle PositionExplanation">
  <h1 class="CodleTitleStyling">The meaning</h1>
  <h3 class="CodleSubtitleStyling">
        @(GameOver? CodleWordExplain: "The meaning of the word will be shown after the game is over.")
    </h3>
</div>
