<section class="VisibleKeyboard" aria-label="On-screen keyboard">
    <div>
        @foreach (var letter in TopRow)
        {
            <button class="@LetterColorChange(letter)"
                    @onclick="() => OnKeyClick.InvokeAsync(letter)">
                @letter
            </button>
        }
    </div>
    <div>
        @foreach (var letter in MiddleRow)
        {
            <button class="@LetterColorChange(letter)"
                    @onclick="() => OnKeyClick.InvokeAsync(letter)">
                @letter
            </button>
        }
    </div>
    <div>
        @foreach (var letter in BottomRow)
        {
            <button class="@LetterColorChange(letter)"
                    @onclick="() => OnKeyClick.InvokeAsync(letter)">
                @letter
            </button>
        }
    </div>
</section>