.VisibleKeyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.438rem;
}

div {
    display: flex;
    flex-direction: row;
    gap: 0.438rem;
}

input:focus {
    outline: none;
    box-shadow: none;
    caret-color: transparent;
}

.correct, button.CorrectLetter {
    background-color: var(--cell-correct);
    color: var(--board-letter-color);
}

.present, button.PresentLetter {
    background-color: var(--cell-present);
    color: var(--board-letter-color);
}

.absent, button.AbsentLetter {
    background-color: var(--cell-absent);
    color: var(--board-letter-color);
}

button {
    width: 3.125rem;
    height: 4.375rem;
    text-align: center;
    font-size: x-large;
    background-color: var(--keyboard-background);
    border: solid 0.188rem var(--button-border);
    border-radius: 0.438rem;
    cursor: pointer;
    overflow: hidden;
}
