<section class="VisibleKeyboard" aria-label="On-screen keyboard">
    @foreach (var row in Rows)
    {
        <div>
            @foreach (var letter in row)
            {
                <button class="@LetterColorChange(letter)"
                        @onclick="() => OnKeyClick.InvokeAsync(letter)">
                    @letter
                </button>
            }
        </div>
    }
</section>
